{% extends 'base.html' %}

{% block title %}Bilan{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4 text-center">Bilan</h1>
    <form method="get" class="mb-4" id="bilan-form" onsubmit="return validateForm()">
        <div class="form-row align-items-end">
            <div class="form-group col-md-3">
                <label for="bilan_type">Type de Bilan :</label>
                <select id="bilan_type" name="bilan_type" class="form-control" onchange="toggleDateFields()">
                    <option value="journalier" {% if not start_date and not end_date %}selected{% endif %}>Journalier</option>
                    <option value="periode" {% if start_date and end_date %}selected{% endif %}>Par Période</option>
                </select>
            </div>
            <div class="form-group col-md-3" id="date_field">
                <label for="date">Sélectionnez une date :</label>
                <input type="date" id="date" name="date" class="form-control" value="{{ selected_date|date:"Y-m-d" }}">
            </div>
            <div class="form-group col-md-3" id="start_date_field" style="display: none;">
                <label for="start_date">Date de début :</label>
                <input type="date" id="start_date" name="start_date" class="form-control" value="{{ start_date }}">
            </div>
            <div class="form-group col-md-3" id="end_date_field" style="display: none;">
                <label for="end_date">Date de fin :</label>
                <input type="date" id="end_date" name="end_date" class="form-control" value="{{ end_date }}">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-3">Afficher le Bilan</button>
        </div>
    </form>
    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            Résumé des Transactions
        </div>
        <div class="card-body">
            <p><strong>Total des Dépôts :</strong> {{ total_depots }} FCFA</p>
            <p><strong>Total des Retraits :</strong> {{ total_retraits }} FCFA</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-primary text-white">
            Transactions
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">Montant</th>
                        <th scope="col">Client</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.date|date:"d/m/Y H:i" }}</td>
                        <td>{{ transaction.type_transaction }}</td>
                        <td>{{ transaction.montant }} FCFA</td>
                        <td><a href="{% url 'detail_client' transaction.client.identifiant_unique %}">{{ transaction.client.nom }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function toggleDateFields() {
        var bilanType = document.getElementById('bilan_type').value;
        var dateField = document.getElementById('date_field');
        var startDateField = document.getElementById('start_date_field');
        var endDateField = document.getElementById('end_date_field');

        if (bilanType === 'journalier') {
            dateField.style.display = 'block';
            startDateField.style.display = 'none';
            endDateField.style.display = 'none';
            document.getElementById('start_date').value = '';
            document.getElementById('end_date').value = '';
        } else if (bilanType === 'periode') {
            dateField.style.display = 'none';
            startDateField.style.display = 'block';
            endDateField.style.display = 'block';
            document.getElementById('date').value = '';
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        toggleDateFields();
    });

    function validateForm() {
        var bilanType = document.getElementById('bilan_type').value;
        var date = document.getElementById('date').value;
        var startDate = document.getElementById('start_date').value;
        var endDate = document.getElementById('end_date').value;

        if (bilanType === 'journalier' && !date) {
            alert("Veuillez sélectionner une date pour le bilan journalier.");
            return false;
        }

        if (bilanType === 'periode') {
            if (!startDate) {
                alert("Veuillez sélectionner une date de début pour le bilan par période.");
                return false;
            }
            if (!endDate) {
                alert("Veuillez sélectionner une date de fin pour le bilan par période.");
                return false;
            }
        }

        return true;
    }
</script>
{% endblock %}
